.Burger{
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem; 
}

/*Quick note on media: when min is defined, once the size of
screen goes below min, it will look for the next min to adjust itself to. */
@media (min-width: 500px) and (min-height: 400px){
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px){
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 900px) and (min-height: 600px){
    /* for my macbook view */
    .Burger {
        width: 350px;
        height: 270px;
    }
}

@media (min-width: 1000px) and (min-height: 700px){
    .Burger {
        width: 700px;
        height: 600px;
    }
}

@media (min-width: 1570px) and (min-height: 910px){
    /* for my 27 inch*/
    .Burger {
        width: 500px;
        height: 550px;
    }
}

@media (min-width: 900px) and (min-height: 900px){
    /* for my 27 inch right side!*/
    .Burger {
        width: 500px;
        height: 540px;
    }
}